*{
    padding: 0;
    margin: 0;
}

body{
    font-family:"Arial",sans-serif;
}
ul{
    list-style: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
a{
    text-decoration: none;
    /*color: #000;*/
}
header{
    height: 135px;
    width: 100%;
}

header .nav-phone{
    height: 53px;
    width: 100%;
    background-color: #000;
    line-height: 53px;

}
header .phone{
    margin-right: 113px;
    color: white;
}
header .phone>span{
    color: #396;
}
header .nav{
    height: 83px;
    width: inherit;
    
}
header .logo{
    width: 118px;
    height: 135px;
    background: url("../images/logo.png") bottom no-repeat;
    background-size: cover;
    position: absolute;
    left: 105px;
    z-index: 2;
}

/*µ¼º½Ìõ*/
.nav{
    line-height: 83px;

}
.nav ul{
    list-style: none;
    position: absolute;
    right: 60px;
}
.nav li{
    float: left;
    padding-right: 55px;
    color: black;
    font-size: 20px;
}
.nav #checkd{
    color: #396;
}

/*BANNER*/
.banner{
    width: 100%;
    height: 500px;
    background: url("../images/banner.jpg") no-repeat;
    background-size: cover;
}
.container{
    width: 100%;
    text-align: center;
    position: relative;
}
.container-gallery{
    width: inherit;
    height: 392px;
    background-color: #444;
    position: relative;
}
.img-gallery{
    width: 284px;
    height: 284px;
    border-radius: 142px;
    background: url("../images/weelcome.jpg");
    position: absolute;
    top: 58px;
    left: 120px;
}
.words-gallery{
    color: white;
    position: absolute;
    top: 30%;
    left: 40%;
}
.content-sectionOne-article{
    margin-top: 20px;
    line-height: 30px;
}

/*about*/
.about-section{
    width: 100%;
    text-align: center;
}
.about-section h1{
    color: #630;
    font-size: 38px;
    padding-top: 60px;
}

.about-article{
    margin-top: 40px;
    line-height: 28px;
    color: #1b1b1b;
}

.latest-design-section{
    color: #630;
    font-size: 38px;
    margin-top: 100px;
}
.latest-design-section .img-wrapper{
    width: 1100px;
    height: 532px;
    outline: 1px solid red;
    margin: 35px auto;
}
.latest-design-section .img-wrapper>.img-list{
    width: 340px;
    height: 235px;
    margin: 13px;
}
.img-banner-wrapper{
    width: 100%;
    height: 350px;
    background: url("../images/quote-image1.jpg") center no-repeat;
    background-size: cover;
}
.services-section{
    height: 690px;
    width: inherit;
}

.services-section>h1{
    color: #630;
    font-size: 38px;
    margin-top: 60px;
}
.services-section .articles-list{
    width: 1087px;
    height: 475px;
    margin: 50px auto;
    outline: 1px solid red;
}
.services-section>.articles-list>.article{
    width: 250px;
    height: 474px;
    float: left;
    text-align: left;
    outline: 1px solid black;
    margin-left: 29px;
}
.services-section>.articles-list>.article:first-child{
    margin-left: 0;

}
.services-section .title{
    height: 70px;
    width: inherit;
}
.services-section .title .articles-title-num{
    font-size: 30px;
    font-weight: 800;
}
.services-section .title .articles-title{
    font-size: 24px;
    font-weight: 200;
}
.c630{
    color: #630;
}
.c444{
    color: #444444;
}
.c1b{
    color: #1b1b1b;
}
.c81{
    color: #818181;
}
.article-img{
    height: 250px;
    width: 250px;
}
.bw1{
    background: url("../images/b-w1.jpg") 70% no-repeat;
    background-size: cover;

}
.bw2{
    background: url("../images/b-w2.jpg") 70% no-repeat;
    background-size: cover;

}
.bw3{
    background: url("../images/b-w3.jpg") 70% no-repeat;
    background-size: cover;

}
.bw4{
    background: url("../images/b-w4.jpg") 70% no-repeat;
    background-size: cover;

}
.articles-words{
    line-height: 25px;
    margin-top: 15px;
}
.articles-words-plane{
    width: 63px;
    height: 3px;
    background-color: #663300;
    margin-top: 10px;
}
.articles-words-readMore{
    font-size: 16px;
    font-weight: bold;
}
/*footer*/
.myfooter{
    width: 100%;
    height: 355px;
    background-color: #444444;
}
.footer-information a{
    color: #818181;
}
.footer-information h4{
    color: white;
}
.footer-information ul{
    margin-top: 20px;

}
.footer-information ul li{
    padding-top: 5px;
}
.footer-information-position{
    margin-left: 120px;
    padding-top: 55px;

}
.footer-categories-position{
    padding-top: 55px;
    margin-left: 145px;
}
.footer-account-position{
    padding-top: 55px;
    margin-left: 120px;
}
.footer-letter-position{
    padding-top: 55px;
    margin-left: 150px;
}
.footer-list{
    outline: 1px solid red;
    height: 210px;
}
.copy{
    height: 100px;
    width: inherit;
    text-align: center;
    padding-top: 70px;
}