*{
    padding: 0;
    margin: 0;
}

body{
    font-family:"Arial",sans-serif;
}
ul{
    list-style: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
a{
    text-decoration: none;
    /*color: #000;*/
}
h1,h2,h3,h4{
    font-family: homeFont,sans-serif;
}
/*font*/
@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

@font-face {
    font-family: 'homeFont';
    src: url('../font/wGqUKXRinIYggz-BTRU9enhCUOGz7vYGh680lGh-uXM.woff'); /* IE9*/
}
/*header*/
header{
    height: 135px;
    width: 100%;
    font-family: homeFont,sans-serif;
}

header .nav-phone{
    height: 53px;
    width: 100%;
    background-color: #000;
    line-height: 53px;

}
header .phone{
    margin-right: 113px;
    color: white;
}
header .phone>span{
    color: #396;
}
header .nav{
    height: 83px;
    width: inherit;
    background: url("../images/bg.png");
}
header .logo{
    width: 118px;
    height: 135px;
    background: url("../images/logo.png") bottom no-repeat;
    background-size: cover;
    position: absolute;
    left: 105px;
    z-index: 2;
}

/*nav*/
.nav{
    line-height: 83px;

}
.nav ul{
    list-style: none;
    position: absolute;
    right: 60px;
}
.nav li{
    float: left;
    padding-right: 55px;
    color: black;
    font-size: 16px;
}
.nav #checkd{
    color: #396;
}

/*BANNER*/
.banner{
    width: 100%;
    height: 500px;
    /*background: url("../images/banner1.jpg") no-repeat;*/
    /*background-size: cover;*/
    position: relative;
    z-index: 2;
}
.banner-slide {
    min-height: 500px;
    position: relative;
    background: url(../images/banner.jpg)no-repeat 0px 0px;
    background-size: cover;
}
.banner1 {
    background: url(../images/banner1.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 500px;
    position: relative;
}
.banner2 {
    background: url(../images/banner2.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 500px;
    position: relative;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    height: inherit;
    padding: 0;
    margin: 0;
}
#slider3 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}
.banner li{
    width: 100%;
    display: block;
    float: left;
    position: relative;
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
}

.banner i{
    color: white;
}
.banner .callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 43%;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 52px;
    width: 52px;
    background: transparent url("../images/slider-icon.png") no-repeat -3px 0;
}
.banner .callbacks_nav.next {
    left: auto;
    right: 0;
    background: url(../images/slider-icon.png)no-repeat -59px 0;
}
/*catainer*/
.container{
    width: 100%;
    text-align: center;
    position: relative;
}
.container-gallery{
    width: inherit;
    height: 392px;
    background-color: #444;
    position: relative;
}
.img-gallery{
    width: 284px;
    height: 284px;
    border-radius: 142px;
    background: url("../images/weelcome.jpg");
    position: absolute;
    top: 58px;
    left: 120px;
}
.words-gallery{
    color: white;
    position: absolute;
    top: 30%;
    left: 40%;
}
.words-gallery h2{
    font-size: 2.2em;
}
.content-sectionOne-article{
    margin-top: 20px;
    line-height: 30px;
}

/*about*/
.about-section{
    width: 100%;
    text-align: center;
}
.about-section h1{
    color: #630;
    font-size: 38px;
    padding-top: 60px;
}

.about-article{
    margin-top: 40px;
    line-height: 28px;
    color: #1b1b1b;
}

.latest-design-section{
    color: #630;
    font-size: 38px;
    margin-top: 100px;
}
.latest-design-section .img-wrapper{
    width: 1100px;
    height: 532px;
    /*outline: 1px solid red;*/
    margin: 35px auto;
}
.latest-design-section .img-wrapper>.img-list{
    width: 340px;
    height: 235px;
    margin: 13px;
    position: relative;
    background-color: #000;
    z-index: 2;
    overflow: hidden;

}

.latest-design-section .img-wrapper>.img-list:hover .img-position{
    -webkit-transform: translate(340px, -235px);
    -moz-transform: translate(340px, -235px);
    -ms-transform: translate(340px, -235px);
    -o-transform: translate(340px, -235px);
    transform: translate(340px, -235px);
}
.latest-design-section .img-wrapper>.img-list>.img-position{
    position: absolute;
    /*display: none;*/
    z-index: 5;
    width: inherit;
    height: inherit;
    left: 0;

    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}
.img-wrapper .img-list-words{
    position: relative;
    left: 20px;;
    top:50px;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
}
.img-wrapper .img-list-words-h2{
    color: #339966;
    margin-bottom: 10px;
}
.img-wrapper .img-list-words-p{
    color: white;
}
.img-banner-wrapper{
    width: 100%;
    height: 350px;
    background: url("../images/quote-image1.jpg") center no-repeat;
    background-size: cover;
}
.services-section{
    height: 690px;
    width: inherit;
}

.services-section>h1{
    color: #630;
    font-size: 38px;
    margin-top: 60px;
}
.services-section .articles-list{
    width: 1087px;
    height: 475px;
    margin: 50px auto;
    /*outline: 1px solid red;*/
}
.services-section>.articles-list>.article{
    width: 250px;
    height: 474px;
    float: left;
    text-align: left;
    /*outline: 1px solid black;*/
    margin-left: 29px;
}
.services-section>.articles-list>.article:first-child{
    margin-left: 0;

}
.services-section .title{
    height: 70px;
    width: inherit;
}
.services-section .title .articles-title-num{
    font-size: 30px;
    font-weight: 800;
}
.services-section .title .articles-title{
    font-size: 24px;
    font-weight: 200;
    font-family: homeFont;
}
.c630{
    color: #630;
}
.c444{
    color: #444444;
}
.c1b{
    color: #1b1b1b;
}
.c81{
    color: #818181;
}
.article-img{
    height: 250px;
    width: 250px;
    position: relative;
    z-index: 2;
    line-height: 250px;
    overflow: hidden;
}
.article-img .mengban{
    cursor: pointer;
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 3;
    background-color: rgba(30, 144, 255, 0.36);
    text-align: center;
    line-height: inherit;
    left: -250px;

    -webkit-transition: left 0.3s linear;
    -moz-transition: left 0.3s linear;
    -ms-transition: left 0.3s linear;
    -o-transition: left 0.3s linear;
    transition: left 0.3s linear;
}
.mengban i{
    color: white;
    font-size: 36px;
}
.article-img:hover .mengban{
    left: 0;
}
.bw1{
    background: url("../images/b-w1.jpg") 70% no-repeat;
    background-size: cover;

}
.bw2{
    background: url("../images/b-w2.jpg") 70% no-repeat;
    background-size: cover;

}
.bw3{
    background: url("../images/b-w3.jpg") 70% no-repeat;
    background-size: cover;

}
.bw4{
    background: url("../images/b-w4.jpg") 70% no-repeat;
    background-size: cover;

}
.articles-words{
    line-height: 25px;
    margin-top: 15px;
}
.articles-words-plane{
    width: 63px;
    height: 3px;
    background-color: #663300;
    margin-top: 10px;
}
.articles-words-readMore{
    font-size: 16px;
    font-weight: bold;
}
/*footer*/
.myfooter{
    width: 100%;
    height: 355px;
    background-color: #444444;
}
.footer-information a{
    color: #818181;
}
.footer-information h4{
    color: white;
}
.footer-information ul{
    margin-top: 20px;

}
.footer-information ul li{
    padding-top: 5px;
}
.footer-information-position{
    margin-left: 120px;
    padding-top: 55px;

}
.footer-categories-position{
    padding-top: 55px;
    margin-left: 145px;
}
.footer-account-position{
    padding-top: 55px;
    margin-left: 120px;
}
.footer-letter-position{
    padding-top: 55px;
    margin-left: 150px;
}
.footer-letter-position-input-div{
    border: 1px solid white;
    width: 180px;
    height: 30px;
}
.footer-letter-position-input-div input{
    background-color: transparent;
    width: 140px;
    height: 30px;
    border: none;
    padding-left: 10px;
    border-right: 1px solid white ;
}

.footer-letter-position-input-div i{
    color: white;
    cursor: pointer;
}
.footer-list{
    height: 210px;
}
.copy{
    height: 100px;
    width: inherit;
    text-align: center;
    padding-top: 50px;
}
.myfooter .top{
    text-decoration: none;
    position: fixed;
    bottom: 14px;
    right: 3%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: url("../images/to-top1.png") no-repeat 0 0;
}

/*遮罩*/

.zhezhao{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 7;
    background-color: rgba(20,20,20,.9);
    display: none;
}

.close-div{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    -webkit-transition: 0.3s linear all;
    cursor: pointer

}
.close-div:hover{
    -webkit-transform:rotate(360deg);
    -webkit-transform-origin:50%;
}
.zhezhao>.img-container{
    width: 1000px;
    height: 500px;
    background-color: #fffdef;
    margin: 30px auto;
    position: relative;
}
.zhezhao> .lbtn  {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer
}
.zhezhao> .rbtn{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    cursor: pointer;
}